*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
}

/*Inicio Index-pag principal-*/
.cuotas{
    text-align: center;
    font-size: 15px;
    background-color: #EEF1E5;
    padding: 15px;
    font-family:'Lexend Exa', sans-serif;
}
.imgcompras{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.imgcompras img{
    padding-right: 20px;
    padding-top: 20px;
}
.encabezadofijo h1 {
    text-align: center;  
    font-size: 80px;
    font-family: 'Newsreader', serif;
    margin-top: 20px;
}
.subtitulo{
    font-size: 25px;
    text-align: center;
    font-family:'Noto Sans', sans-serif;
    letter-spacing: 10px;
}
.navbar {
    list-style-type: none;
    width: 100%;
    text-align: none;
    justify-content: center;
    grid-area: navbar;
}
nav li{
    display: inline-flex;
    padding: 0px 20px 0px 20px;
}
nav a{
    padding: 20px;
    text-decoration: none;
    font-family:'Noto Sans', sans-serif;
    color: #000;
}
nav ul{
    width: 100%;
    list-style-type: none;
    text-align: center;
}
nav li:hover {
    background-color: rgb(243, 240, 241);
}
.fondoprincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 138vh;
    color: white;
    background-image: url(../img/Ihome2.jpg);
    background-repeat: no-repeat;
    background-size: 1400px;
    background-position: center center;
    font-size: xx-large;
    font-family:'Lexend Exa', sans-serif;
}
.bandoleraA{
    padding-right: 414px;
    margin-top: 150px;
}
.vs{
    font-size: 150px;
}
.bandoleraK{
    padding-left: 328px;
    margin-bottom: 150px;
}
button {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
button:hover {
    background-color: black;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
button:active {
    transform: translateY(-1px);
    color: white;
}
.promociones {
    background-color: #EEF1E5;
    font-family:'Lexend Exa', sans-serif;
}
.promos__contenedor {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center; 
}
.promos__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem; 
}
.promos__item i {
    font-size: 2rem; 
}
.promos__toppic {
    margin: auto;
    padding: 1rem;
    color: #2D2D2D;
    font-size: 14px;
    font-style: normal;
    text-align: center; 
}
.aside{
    background-color: white;
    grid-area: aside;
}
.descubre{
    font-size: xx-large;
    padding: 70px;
    background-image: url(../img/segundafotoprin.jpg);
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 488px;
    width: 80%;
    margin: 5% auto;
    align-items: center;
    justify-content: center;
    display: flex;
}
.descubre img{
    width: 150%;
    max-width: 100%;
    border-color: black;
    border-style: solid;
}
.descubre button a{
    text-decoration: none;
}
.descubre button a:hover{
    color: white;
}
.made p{
    text-align: center; 
    font-family:'Lexend Exa', sans-serif;
    padding-bottom: 40px;
    font-size: x-large;
}
.news{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-family:'Lexend Exa', sans-serif;
}
.footer {
    background-color: #EEF1E5;
    position: relative;
    justify-content: center;
    grid-area: footer;
}
.footer li{
    list-style-type: none;
}
.footer__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__logo img{
    width: 170px;
    height: 50px;
}
.fcaja{
    display: flex;
    margin: 0% auto;
    flex-direction: row;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}
.piedepagina{
    font-family:'Lexend Exa', sans-serif;
}
.centrodepiedepagina{
    font-family:'Lexend Exa', sans-serif;
}
.seguinos{
    font-family:'Lexend Exa', sans-serif;
    font-size: large;
}
.seguinos ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.seguinos img{
    padding-top: 10px;
}
.whatsapp{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.whatsapp li{
    padding-left: 5px;
}
.mail{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}
.mail li{
    padding-left: 5px;
}
.fijo{
    text-align: center;
    background-color: #8f8f8f;
    color: white;
    font-size: smaller;
    font-family: 'Lexend Exa', sans-serif;
}
/*Fin Index-pag principal*/


/*Inicio New Arrival*/
.newarr{
    background-color: black;
    padding: 45px;
    text-align: center;
}
.newarr b{
    font-size: x-large;
    color: white;
    font-family:'Lexend Exa', sans-serif;
}
.newarri{
    background-color: #E6D64B;
}
.p1{
    font-size: 80px;
    font-family:'Lexend Exa', sans-serif;
    color: white;
    text-shadow: 0 0 12px #000;
    padding-left: 20px;
}
.p2{
    font-size: 80px;
    font-family:'Lexend Exa', sans-serif;
    color: white;
    text-align: right;
    text-shadow: 0 0 12px #000;
    padding-right: 20px;
}
.contenido{
    background-color: white;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 20px;
    margin: 55px;
}
.gridItem{
    width: 300px;
}
.contenido img{
    width: 80%;
    height: 100%;
}
/*Fin New Arrival*/

/*Inicio Bags*/
.bags{
    background-color: black;
    padding: 40px;
}
.bags p{
    font-size: x-large;
    color: white;
    font-family:'Lexend Exa', sans-serif;
    text-align: center;
}
.cardcontenedor {
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0;
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s; 
}
.cardVenta__producto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; 
}
.CardVenta__producto {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 3;
    justify-content: baseline;
    align-content: center;
    height: 100%;
    position: relative; 
}
.cardVenta {
    background-color: #F9F8F8;
    padding: 1rem; 
}
.cardVenta__contenedor {
    background-color: #F9F8F8;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-evenly;
    position: relative;
    height: 100%; 
}
.card-body button{
    margin-top: 20px;
}

.presentacion__contenedor {
    background-color: white;
    padding: 1rem 0rem 1rem 1rem; 
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    position: relative; 
}

/*Fin Bags*/

/* Inicio aboutus*/
.about{
    background-color: black;
    padding: 40px;
}
.about p{
    font-size: x-large;
    color: white;
    font-family:'Lexend Exa', sans-serif;
    text-align: center;
}
.presentacion__contenedor {
    background-color: white;
    padding: 1rem 0rem 1rem 1rem; 
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(2, 50%);
    justify-content: space-between;
    position: relative; 
}
.presentacion__p{
    font-family:'Lexend Exa', sans-serif;
}
.img__work{
    height: 500px;
    width: 500px;
}
/*Fin aboutUs*/


/*Inicio Contactos*/

.contacto form{
    margin: 50px;
}
.contacto{
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
}
input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    resize: vertical;
    font-family:'Lexend Exa', sans-serif;
    font-size: medium;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family:'Lexend Exa', sans-serif;
}

input[type=Enviar] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=Enviar]:hover {
    background-color: #45a049;
}
/*Fin Contactos*/




/*INICIO RESPONSIVE INDEX*/
@media screen and (max-width:600px){

    .fondoprincipal{
        background-size: 890px;
    }
    .bandoleraA{
        padding-right: 270px;
        margin-top: 0px;
    }
    .vs{
        font-size: 150px;
        
    }
    .bandoleraK{
        padding-left: 270px;
        margin-bottom: 10px;
    }
    .promociones__ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .fcaja{
        padding: 30px;
    }
    .piedepagina{
        padding-right: 10px;
    }
    .centrodepiedepagina{
        padding-right: 10px;
    }
    .descubre{
        height: 300px;
        width: 80%;
    }
    .descubre p{
        margin-top: 30px;
    }
    .header{
        grid-area: header;
    }
    .promos__contenedor {
        grid-template-columns: 1fr;
    }
}

@media(max-width:391px){
    *{
        margin: 0;
        padding: 0;
    }
    .main{
        grid-area: main;
    }
    .encabezadofijo h1{
        text-align: center;
        font-size: 60px;
    }
    .navbar ul{
        margin-top: 40px;
    }
    .fondoprincipal{
        background-size: 150%;
        padding-top: 10px;
    }
    .bandoleraA{
        padding-right: 207px;
        margin-top: 60px;
        font-size: 30px;
    }
    .vs{
        font-size: 150px;
        
    }
    .bandoleraK{
        padding-left: 207px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .promociones__ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .fcaja{
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    .piedepagina{
        padding-right: 10px;
        padding-bottom: 40px;
    }
    .centrodepiedepagina{
        padding-right: 10px;
        padding-bottom: 40px;
    }
    .descubre{
        height: 220px;
        width: 85%;
    }
    .descubre p{
        margin-top: -18px;
    }

}
/*FIN RESPONSIVE INDEX*/

/*INICIO RESPONSIVE NEW ARRIVAL*/
@media screen and (max-width:600px){
    .contenido{
        background-color: white;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 1fr;
        grid-gap: 10px;
        margin: 40px;
    }
    .p1{
        font-size: 80px;
    }
    .p2{
        font-size: 80px;
    }
}

@media screen and (max-width:391px){
    .p1{
        font-size: 50px;
    }
    .p2{
        font-size: 50px;
    }
}
/*FIN RESPONSIVE NEW ARRIVAL*/


/*INICIO RESPONSIVE BAGS*/
@media screen and (max-width: 600px) {
    .cardVenta__contenedor {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        height: auto; 
    } 
}
@media screen and (max-width: 391px) {
    .cardVenta__contenedor {
        grid-template-columns: repeat(1, 1fr);
        gap: 0rem; 
    } 
}
/*FIN RESPONSIVE BAGS*/


/*INICIO RESPONSIVE ABOUTUS*/
@media screen and (max-width: 600px) {
    .presentacion--invertido, .presentacion__contenedor{
        padding: 1rem;
        grid-template-columns: 1fr;} 
    .img__work{
        width: 300px;
        height: 300px;}   
    .img__contenedor{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;}
}
/*FIN RESPONSIVE ABOUTUS*/

/*INICIO RESPONSIVE CONTACTO*/
@media screen and (max-width: 391px) {
    .contacto{
        padding-top: 0px;
        padding-left: 30px;
        padding-right: 15px}
}
/*FIN RESPONSIVE CONTACTO*/